@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  color: var(--text);
  font-family: 'Work Sans', sans-serif;

  background: var(--backgroundLight);

  --primary: #913fe2;
  --primaryHover: #913fe2dd;
  --secondary: #4090eb;
  --text: #141414;
  --background: #ebebeb;
  --backgroundLight: #e0e0e0;
  --shadow: rgba(0, 0, 0, 0.12);
  --icon: #141414;
  --title: rgba(0, 0, 0, .4);
}

body.dark {
  color: var(--text);
  background: var(--backgroundLight);

  --primary: #913fe2;
  --secondary: #4090eb;
  --text: #ebebeb;
  --background: #141414;
  --backgroundLight: #202020;
  --shadow: rgba(0, 0, 0, 0.6);
  --icon: #ebebeb;
  --title: #888;
}

.switch {
  z-index: 200;
  position: fixed;
  top: 10px;
  right: 10px;

  width: 25px;
  height: 25px;

  background-color: var(--text);
  border-radius: 50%;

  cursor: pointer;
}